html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  transition: linear;
  position: relative;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid {
  transition: all 250ms linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1.25em;
  left: 5.25em;
}

.polaroid:first-child {
  margin: 0;
  padding: 10px;
  width: 250px;
  transform: rotate(-11deg) translate(179px, 135px);
  background-color: #fff;
  border-radius: 4px;
  z-index: 2;
}

.polaroid:nth-child(2) {
  margin: 0;
  padding: 10px;
  width: 250px;
  transform: rotate(5deg) translate(279px, 125px);
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 5;
}

.polaroid:last-child {
  margin: 0;
  padding: 10px;
  width: 250px;
  transform: rotate(30deg) translate(419px, -100px);
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 3;
}

.polaroid:hover {
  transform: rotate(0);
  z-index: 9;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .8);
}

.polaroid:first-child:hover {
  transform: translate(179px, 135px);
}

.polaroid:nth-child(2):hover {
  transform: translate(279px, 125px);
}

.polaroid:last-child:hover {
  transform: translate(419px, -100px);
}
